<!-- /templates/page.fullwidth.liquid -->
{% section 'story-content' %}
<section class="page about-page">
	<h2 class="theme">{{ page.title }}</h2>
	
  	{% section 'story1-image-with-text' %}
  	{% section 'story2-image-with-text' %}
  	{% section 'story3-image-with-text' %}
  	{% section 'story4-image-with-text' %}
  	{% section 'story5-image-with-text' %}
     {% section 'story6-image-with-text' %}
</section>