<!-- /templates/page.fullwidth.liquid -->
{% section 'philosophy-content' %}
<section class="page about-page">
	<h2 class="theme">{{ page.title }}</h2>
	
  	{% section 'philosophy1-image-with-text' %}
  	{% section 'philosophy2-image-with-text' %}
  	{% section 'philosophy3-image-with-text' %}
  	{% section 'philosophy4-image-with-text' %}
  	{% section 'philosophy5-image-with-text' %}
     {% section 'philosophy6-image-with-text' %}
</section>