<!-- /templates/page.fullwidth.liquid -->
{% section 'about-content' %}
<section class="page about-page">
	<h2 class="theme">{{ page.title }}</h2>
	
  	{% section 'about-image-with-text' %}
  	{% section 'about1-image-with-text' %}
  	{% section 'about2-image-with-text' %}
  	{% section 'about3-image-with-text' %}
  	{% section 'about4-image-with-text' %}
  	{% section 'about5-image-with-text' %}
  	{% section 'about6-image-with-text' %}
  	{% section 'about7-image-with-text' %}
  	{% section 'about8-image-with-text' %}
  	{% section 'about9-image-with-text' %}
</section>
